<%= render "ui/tabs", 
    tabs: {
        guests: {content: "Participants", path: event_guests_path(@event.id)},
        brigades: {content: "Brigades", path: event_brigades_path(@event.id)},
    }, 
    active: :guests do %>
    <div class="flex flex-col justify-between h-full">
        <% if @event.guests.empty? %>
        Vous n'avez ajouté aucuns participants à l'événement pour le moment
        <% else %>
        <ul>
            <% @event.guests.each do |guest| %>
            <li class="flex">
                <%= button_to destroy_path(guest), method: :delete do %>
                <%= inline_svg_tag 'icons/trash-2.svg' %>
                <% end %>
                <p class="ml-2 my-auto"><%= guest.nickname.capitalize %></p>
            </li>
            <% end %>
        </ul>
        <% end %>
        <%= form_with model: @event.guests.new  do |form| %>
            <%= form.text_field :nickname, placeholder: "Nom du participant", class: "w-full rounded-t-md" %>
            <%= form.hidden_field :event_id, value: @event.id %>
            <%= form.submit "Ajouter un participant", class:"bg-sky-500 text-white py-2 w-full rounded-b-md" %>
        <% end %>
    </div>
<% end %>