<%= render 'ui/page' do %>
    <div class='mb-2'>
        <h2 class='text-center'><%= I18n.t 'course.recipes.edit.title' %></h2>
        <h3 class='text-center'><%= I18n.t 'course.recipes.edit.sub_title', name: @course.name.capitalize, scheduled_on: @course.meal.scheduled_on %></h3>
    </div>
        <%= form_with model: @course, url: course_recipes_path, method: :post,  class: 'flex flex-col justify-between grow border-2 border-slate-300 rounded-lg', data: {'controller': "recipes--edit--nested-form"} do |course_form| %>
            <div class='flex border-b-2 border-slate-300'>
                <%= select(:fake, :ingredient_id, {}, {prompt: 'Ingredients'}, required: true, class: 'text-ellipsis w-1/5 grow rounded-tl-md border-none', data: {'recipes--edit--nested-form-target':"newRecipeIngredient", action: "recipes--edit--nested-form#detectNewIngredientAndRedirect"}) do %>
                    <%= @available_ingredients.each do |ingredient| %>
                        <%= content_tag(:option, ingredient.name, value: ingredient.id, selected: @preselected_ingredient_id.to_i == ingredient.id,  data: { 'ingredient-unit': ingredient.unit }) %>
                    <% end %>
                        <%= content_tag(:option, 'Ajouter un ingrédient', value: '+' ) %>
                <% end %>
                <template id="template" data-recipes--edit--nested-form-target="templateOption">
                    <%= content_tag(:option, 'INGREDIENT_NAME', value: 'INGREDIENT_ID', data: { 'ingredient-unit': 'INGREDIENT_UNIT' }) %>
                </template>
                <%= number_field :fake, :quantity, min: 0, class: 'w-20 border-none', required: true, placeholder: 'Quantité', data: {'recipes--edit--nested-form-target':"newRecipeQuantity"} %>
                <div>
                    <%= button_tag formaction: "#", class: 'bg-sky-500 w-10 flex flex-col justify-center items-center text-white h-full rounded-tr-md', data: {action: "recipes--edit--nested-form#addRecipe"} do %>
                        <%= inline_svg_tag 'icons/plus.svg' %>
                    <% end %>
                </div>
                <template id="template" data-recipes--edit--nested-form-target="templateRecipeForm">
                    <%= render 'recipes/form', 
                        recipe: Recipe.new,
                        ingredient_name: 'INGREDIENT_NAME', 
                        ingredient_unit: 'INGREDIENT_UNIT',
                        ingredient_id:  'INGREDIENT_ID',
                        quantity: 'QUANTITY', 
                        base_form: course_form, 
                        options: {child_index: 'NEW_RECORD'} 
                    %>
                </template>
            </div>
            <div class='grow'>
                <% @recipes.each do |recipe| %>
                    <%= render 'recipes/form', 
                        recipe: recipe,
                        ingredient_name: recipe.ingredient.name, 
                        ingredient_unit: recipe.ingredient.unit, 
                        ingredient_id:  recipe.ingredient_id,
                        quantity: recipe.quantity, 
                        base_form: course_form 
                    %>
                <% end %>
                <div data-recipes--edit--nested-form-target="target" class="hidden"></div>
            </div>
            <%= course_form.hidden_field :id %>
            <%= course_form.submit I18n.t('course.recipes.edit.edit'), class: 'whitespace-normal bg-sky-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-b-md' %>
        <% end %>
<% end %>