
<div class="w-full p-10 bg-white rounded-md my-auto">
    <h1 class="text-xl font-bold mb-4" >Créez un nouvel événement</h1>
    <%= form_with model: event, class: "flex flex-col" do |form| %>
        <div class="mb-4">
            <%= form.label :name, "Nom de l'évenement" %>
            <%= form.text_field :name, class: 'w-full' %>
        </div>
        <div class="mb-4" data-controller="flatpickr-range" >
            <%= form.label :dates, "Période", class: 'mt-4' %>
            <%= form.text_field :dates, 
                class: 'w-full', placeholder: 'Période', 
                data: {'flatpickr-range-target': 'datesInput'}       
             %>
            <%= form.hidden_field :start_on, data: {'flatpickr-range-target': 'startOnInput'} %>
            <%= form.hidden_field :end_on, data: {'flatpickr-range-target': 'endOnInput'} %>
        </div>
        <%= form.submit "C'est parti", class: 'bg-sky-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
    <% end %>
</div>