
<div class="flex flex-col w-full bg-white mt-4">
    <div class="w-full bg-white flex justify-end pt-2 pr-2">
        <%= link_to event_path(@event) do %>
            <%= inline_svg_tag 'icons/x.svg' %>
        <% end %>
    </div>
    <%= form_with model: meal, class: "w-full bg-white flex flex-col px-10 pb-10" do |form| %>
        <%= form.label :scheduled_on, "Jour" %>
        <%= form.select :scheduled_on, @event.days.map{|day| [french_date(day), day]}, {}, class: "mb-2" %>
        <%= form.label :kind, "Type" %>
        <%= form.select :kind, Meal.kinds.keys %>
        <%= form.hidden_field :event_id, value: @event.id %>
        <%= form.submit 'Créer un repas', class: 'mt-4 bg-sky-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
    <% end %>
</div>