<div class="flex flex-col w-full bg-white mt-4">
    <div class="w-full bg-white flex justify-end pt-2 pr-2">
        <%= link_to meal_path(meal) do %>
            <%= inline_svg_tag 'icons/x.svg' %>
        <% end %>
    </div>
    <%= form_with model: course, class: "w-full bg-white flex flex-col px-10 pb-10" do |form| %>
        <%= form.label :name, "Nom du plat" %>
        <%= form.text_field :name %>
        <%= form.label :kind, "Type" %>
        <%= form.select :kind, Course.kinds.keys, {}, class: "mb-2"%>
        <p>Composition</p>
        <hr class='border-t-2 border-black mb-2'>
        <div clas="flex flex-col">
            <% 10.times do |n| %>
                <%= render 'recipe_sub_form', course_form: form, index: n, recipe: recipes[n] || course.recipes.build %>
            <% end %>
        </div>
        <%= form.hidden_field :meal_id, value: meal.id %>
        <%= form.submit( 
            course.new_record? ? "Creer un plat" : "Modifier le plat" ,
            class: 'mt-4 bg-sky-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' 
        )%>
    <% end %>
</div>

