<div data-controller= "course" class="mb-2 flex flex-col justify-between" >
    <p><%= "Ingredient #{index+1}" %></p>
    <%= course_form.fields_for :recipes, recipe do |recipe_form| %>
        <%= recipe_form.fields_for :ingredient, recipe.ingredient || Ingredient.new(unit: nil) do |ingredient_form| %>
            <%= ingredient_form.text_field( 
                :name,
                placeholder: "Ingredient #{index+1}",
                list: "ingredients_autocomplete", 
                data: {action: "change->course#update_ingredient_unit"},
                class: "grow"
            )%>

            <datalist id="ingredients_autocomplete">
                <% Ingredient.all.each do |ingredient| %>
                    <option value="<%= ingredient.name.capitalize %>" data-course-target="option" ><%= ingredient.unit %></option>
                <% end %>
            </datalist>
            <%= ingredient_form.select(
                :unit, 
                Ingredient.units.keys, 
                {:prompt => 'Unité'}, 
                { 
                    data: { course_target: 'unit' }, 
                    disabled: true, 
                    class: "grow-0"
                }
            ) %>
        <% end %>
        <%= recipe_form.number_field :quantity, placeholder: "Quantité", disabled: recipe.new_record?, "data-course-target": "quantity", class: "grow-0"  %>
    <% end %>
</div>