<!DOCTYPE html>
<html class='h-full'>
  <head>
    <title>Mealz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-sky-500 flex flex-col h-full">
    <%= render 'ui/navbar' %>
    <main class="flex flex-col h-full container mx-auto px-8 p-4 overflow-auto">
      <%= yield %>
    </main>
  </body>
</html>
